.recent_comments ul {
	list-style-type: none;
	margin-left: 0;
}

.recent_comments li {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #333;
}

.recent_comments .author {
	margin-bottom: 0;
}

.recent_comments .author a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.recent_comments .date {
	margin-bottom: 5px;
	font-size: 12px;
}

.recent_comments .message {
	margin-bottom: 0;
}